@charset "UTF-8";
/* CSS Document */

body{
  font-family:"Sodo Sans Semibold", sans-serif;
  color:black;
}

.center{
	max-width:1200px;
	margin-left:50px;
	margin-right:50px;
}

/* COVID COMPONENT */
.covid_content{
	text-align:center;
	height:100px;
	background-color:#d8e8e2;
	margin-top:20px;
	margin-left:50px;
	margin-right:50px;
}

.covid_text{
	font-size:14px;
	padding:20px;
}

/* FEATURES COMPONENT */
.features{
  height:100%;
  overflow: auto;
  margin-top:30px;
  margin-bottom:30px;
  text-align: center;
  background-color:#f2f0ec;
  color:#243832;
  margin-left:50px;
  margin-right:50px;
}

.features_text{
	padding:20px;
	padding-top:50px;
	max-width:500px;
}

.features .section{
   text-transform: uppercase;
   font-size:30px;
   font-weight: bold;
   letter-spacing:2px;
}

.features img{
	float: right;
	max-width:400px;
}

/* DISCOVER COMPONENT */
.discover_header{
	font-size:40px;
	text-align:center;
	color:#243832;
	padding:20px;
}

.discover_text{
	padding:20px;
	padding-top:50px;
	max-width:500px;
}

.discover{
  height:100%;
  overflow: auto;
  margin-top:20px;
  margin-bottom:20px;
  text-align: center;
  background-color:#d8e8e2;
  color:#243832;
  margin-left:50px;
  margin-right:50px;
}

.discover img{
	float:right;
	max-width:400px;
	padding-left:20px;
}